@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message-bubble {
  max-width: 70%;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 10px;
}

.sent {
  background-color: #DCF8C6;
  align-self: flex-end;
}

.received {
  background-color: #EAEAEA;
  align-self: flex-start;
}

.custom-chatroom-header {
    padding: 10px;
    width: 100%;
    top: 0px;
    position: fixed;
    margin: 0px;
    height: 8vh;
    box-shadow:  -5px 14px 10px #dddcdc;
    z-index: 10;
  }

.custom-chatroom-body {
  height: 84vh;
  top: 55px;
  position: fixed;
  width: 100%;
  padding: 5px;
}

.custom-chatroom-form {
  width: 100%;
  padding: 5px;
  position: fixed;
  bottom: 0px;
  height: 8vh;
}

/* scroll */
/* scroll behavior on html */
html {
  scroll-behavior: smooth;
}
/* scrollbar styling non-standard version */
html::-webkit-scrollbar {
  width: 1rem;
  background-color: rgba(0,0,0,.15); 
}

/* scrollbar styling standard version */
html {
  scrollbar-color: #d76abe rgba(175, 70, 132, 0.15);
  scrollbar-width: thin;
}
