@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message-bubble {
  max-width: 70%;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 10px;
}

.sent {
  background-color: #DCF8C6;
  align-self: flex-end;
}

.received {
  background-color: #EAEAEA;
  align-self: flex-start;
}

.custom-chatroom-header {
  background: #f3f4f6 !important;
  padding: 10px;
  width: 100%;
  top: 0;
  position: sticky; /* Change to sticky for better mobile compatibility */
  margin: 0;
  height: 8vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
  z-index: 10;
  opacity: 1;
}

.custom-chatroom-body {
  height: calc(100vh - 8vh - 8vh);
  position: relative;
  width: 100%;
  padding: 5px;
  overflow-y: scroll;
}

.custom-chatroom-form {
  width: 100%;
  padding: 5px;
  position: sticky; /* Change to sticky for better mobile compatibility */
  bottom: 0;
  height: 8vh;
  background-color: white; /* Set background color for better visibility */
  z-index: 10; /* Ensure form is above chatroom body */
}

.avatar {
  display: inline-block;
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: #ccc; /* Placeholder background color */
  text-align: center;
  line-height: 30px; /* Adjust line-height to center the text */
  font-weight: bold;
  color: white; /* Text color */
}

/* scroll */
/* scroll behavior on html */
html {
  scroll-behavior: smooth;
}
/* scrollbar styling non-standard version */
html::-webkit-scrollbar {
  width: 1rem;
  background-color: rgba(0,0,0,.15); 
}

/* scrollbar styling standard version */
html {
  scrollbar-color: #d76abe rgba(175, 70, 132, 0.15);
  scrollbar-width: thin;
}

/* today new css */
.custom-main {
  background-image: url('../background.png');
  background-size: cover; /* Resize the background image to cover the entire container */
}
